body {
    font-family: 'Orbitron', Verdana, sans-serif;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    font-size: 1em;
}

* {
    box-sizing: border-box;
}

.container {
    width: 90%;
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    margin: auto;
    position: relative;
    margin-top: 20px;
    border-radius: 35px 35px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/**************/
/* NAVIGATION */
/**************/

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nav-bar {
    margin-top: -20px;
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    height: 60px;
    width: 89%;
    border: 2px solid #315481;
    border-radius: 90px;
    position: fixed;
    box-shadow: 5px 5px 5px #315481;
    z-index: 1;   
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header-img {
    border: 1px solid #315481;
    border-radius: 90px 0 0 90px;
    height: 59px;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nav-bar li {

}

#nav-bar li a {
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: #d2edf4;
    font-size: 1em;
}

#nav-bar li a:hover {
    text-decoration: none;
    color: white;
    font-size: 1em;
}

@media screen and (max-width: 800px) {
    #nav-bar ul {
        list-style-type: none;
        margin-bottom: 0;
        padding: 0;
        overflow: hidden;
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #315481;
        background-image: linear-gradient(to bottom, #315481, #918e82 100%);
}

#nav-bar li {
    
}

#nav-bar li a {
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: #d2edf4;
    font-size: 1em;
}

#nav-bar li a:hover {
    text-decoration: none;
    color: white;
    font-size: 1em;
}
}

/***********/
/* ARTICLE */
/***********/

h2 { 
    text-align: center;
}

.article-cont{
    width: 75%;
    padding-top: 50px;
    padding-bottom: 20px;   
}

@media screen and (max-width: 800px) {
    .article-cont{
        width: 100%;
        margin-top: 90px;
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

#features {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 30px 20px 30px;
    margin-top: 25px;
}

#article {
    width: 90%;
    margin: auto;
}

.winMini {
    font-size: 2em;
    font-family: 'Satisfy', cursive, Verdana, sans-serif;
    color: #315481;
    display: inline-block;
    text-shadow: 4px 4px 5px #315481;
}

.e-Mini {
    font-size: 1em;
    font-family: 'Orbitron', sans-serif, Verdana, sans-serif;
    margin-left: -5px;
    color: black;
    text-shadow: 4px 4px 5px #315481;
}

.listMini {
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif, Verdana, sans-serif;
    color: #315481;
    text-shadow: 4px 4px 5px #315481;
}

/*
#features ul {
    list-style-image: url('grapeIcon.jpg');
}
*/

#features ul li{
    list-style-type: circle;
}

#pricing-features {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 30px 20px 30px;
    margin-top: 25px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.flex-container > div {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    min-width: 30%;
    max-width: 30%;
    margin: 10px;
    text-align: center;
    font-size: 1em;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid slategray;
    border-left: 2px solid slategray;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #315481;
    color: white;
}

@media screen and (max-width: 800px) {
    .flex-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

    }
    .flex-container > div {
        min-width: 100%;
        max-width: 100%;
    }
}

.winInverted {
    font-size: 2em;
    font-family: 'Satisfy', cursive, Verdana, sans-serif;
    color: whitesmoke;
    display: inline-block;
    text-shadow: 4px 4px 5px whitesmoke;
}

.e-Inverted {
    font-size: 1em;
    font-family: 'Orbitron', sans-serif, Verdana, sans-serif;
    margin-left: -5px;
    color: black;
    text-shadow: 4px 4px 5px whitesmoke;
}

.listInverted {
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif, Verdana, sans-serif;
    color: whitesmoke;
    text-shadow: 4px 4px 5px whitesmoke;
}

.pricing {
    height: 300px;
    padding: 10px;
}

.pricing p {
    position: relative;
    bottom: 5px;
    line-height: 0.1em;
}

.pricing-list {
    text-align: justify;
    font-size: 1em;
    margin: 5px 5px 5px -10px;
    height: 160px;
}

.pricing-list li {
    margin: 10px 5px 10px -10px;
}

.video {
    width: 100%;
    margin: auto;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 30px 20px 30px;
    margin-top: 25px;
}

#video {
    width: 640px;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 5px #315481;    
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid slategray;
    border-left: 2px solid slategray;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    #video {
        width: 340px;
    }
}

/********/
/* FORM */
/********/

.form-container {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    width: 22%;
    margin-top: 50px;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid slategray;
    border-left: 2px solid slategray;
    border-radius: 5px;
    padding: 10px 0 10px;
    color: black;
    min-height: 1400px;
    max-height: 1800px;
}

@media screen and (max-width: 800px) {
    .article-cont{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 20px;
    }
    
    .form-container {
        background-color: #315481;
        background-image: linear-gradient(to bottom, #315481, #918e82 100%);
        width: 90%;
        margin-top: 50px;
        border-top: 2px solid lightgray;
        border-right: 2px solid lightgray;
        border-bottom: 2px solid slategray;
        border-left: 2px solid slategray;
        border-radius: 5px;
        padding: 10px 0 10px;
        color: black;
        min-height: 1400px;
        max-height: 1800px;
    }
}

.form-field {
    padding: 5px;
    width: 100%;
    margin: auto;
}

label {
    padding: 5px;
}

.label-block {
    display: block;
}

input {
   
}

.edit-input {
    display: block;
    width: 100%;
    height: 16px;
    padding: 10px 10px;
    color: #495057;
    background-color: #d2edf4;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid slategray;
    border-left: 2px solid slategray;
    border-radius: 5px;  
}

fieldset p {
    color: white;
    line-height: 0.1em;
}

.especial {
    height: 40px;
    width: 100%;
}

/***********/
/* ADDRESS */
/***********/

#invoice {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    margin: auto;
    display: block;
    font-style: italic;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid slategray;
    border-left: 2px solid slategray;
    border-radius: 5px;
    font-size: 1em;
    color: black;
    margin-top: 15px;
    padding: 5px;
    width: 95%;
} 

.winMiniLight {
    font-size: 2em;
    font-family: 'Satisfy', cursive, Verdana, sans-serif;
    color: #d2edf4;
    display: inline-block;
    text-shadow: 4px 4px 5px #d2edf4;
}

.e-MiniLight {
    font-size: 1em;
    font-family: 'Orbitron', sans-serif, Verdana, sans-serif;
    margin-left: -5px;
    color: black;
    text-shadow: 4px 4px 5px #d2edf4;
}

.listMiniLight {
    font-size: 1.2em;
    font-family: 'Orbitron', sans-serif, Verdana, sans-serif;
    color: #d2edf4;
    text-shadow: 4px 4px 5px #d2edf4;
}

h3 {
    text-align: center;
}

address {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    margin: auto;
    display: block;
    font-style: italic;
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid slategray;
    border-left: 2px solid slategray;
    border-radius: 5px;
    font-size: 1em;
    color: black;
    margin-top: 10px;
    padding: 5px;
    width: 95%;
} 

address a {
    text-decoration: none;
    color: #d2edf4;
}

address a:hover {
    text-decoration: none;
    color: white;
}

#contact p {
    color: white;
    line-height: 0.1em;
}

#invoice h4 {
}

#invoice p {
    text-indent: 20px;
    color: white;
    line-height: 0.1em;
}

/**********/
/* FOOTER */
/**********/

.footer {
    width: 100%;
    margin-top: 10px;
}

#nav-footer {
    background-color: #315481;
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    height: 40px;
    font-size: 1em;
    border: 2px solid #315481;
    border-radius: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nav-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nav-footer li {
   
}

#nav-footer li a {
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: #d2edf4;
    font-size: 1em;
}

#nav-footer li a:hover {
    text-decoration: none;
    color: white;
}

#footer-img {
    border: 1px solid #315481;
    border-radius: 90px 0 0 90px;
    height: 37px;
}






